body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 10px;
}

#controls {
    padding: 10px;
    text-align: center;
}

#map {
    height: calc(100vh - 120px);
}
